.header{
    height: 100vh;
    width: 100%;
    background: url("images/poster-empty.jpg");
    background-size: cover;
}

/*--------------- NAVIGATION ITEMS ---------------*/
.header .container{
    padding: 10px;
    position: relative;
}

.header .container nav{
    position: absolute;
    top: 20px;
    right: 100px;
}

.header .container nav ul{
    display: flex;
    align-items: center;
    gap: 50px;
}

.header .container nav ul li a{
    color: var(--color-dark);
    font-size: 20px;
    position: relative;
}

.header .container nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    border-radius: 2px;
    background:var(--color-primary);
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: all 200ms ease;
}

.header .container nav ul li a:hover::after{
    width: 110%;
}

/*-------------------- HEADER TEXT --------------------*/

.header-text{
    margin: 100px 0 0 100px;
    display: inline-block;
}

.header-text .hello-world-text{
    font-family: 'VT323', monospace;
    font-size: 2rem;
    letter-spacing: 5px;
    border-right: 3px solid black;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 1.2s steps(12),cursor 0.4s step-end infinite alternate;
    margin-bottom: 50px;
}

/* BLINK */
@keyframes cursor{
    50% { border: transparent;}
}
/* TYPING */
@keyframes typing{
    from {width: 0;}
}

.intro-text{
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}


.intro-text .name-text{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    font-size: 4rem;
    color: #443636;
}

.intro-text{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 100;
    font-size: 0.8rem;
    color: #443636;
}